body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #10617F;
    color: #0f617e;
    margin-top: 0 !important;
}

@font-face {
    font-family: 'Helvetica-Thin';
    src: url('../_fonts/Helvetica Neue Thin/HelveticaNeue-Thin.otf');
}

a {
    font-family: Helvetica, Arial, sans-serif;
    color: #0f617e;
}

header {
    background-color: white;
    padding: 50px 0 0 0;
    width: 80%;
    margin: 0 auto;
}

.logo {
    margin-left: 80px;
    width: 6%
}

.headerlink {
    float: right;
    margin-right: 80px;
}

.top_header {
    display: block
}

.botton_header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.bigletters {
    font-size: 48px;
    font-weight: 700;
}

#col1 {
    margin-top: 98px;
    text-align: right;
}

#col2 {
    color: white;
    text-align: center;
}

#col3 {
    margin-top: 190px;
    margin-left: -120px;
}

.invisible {
    visibility: hidden;
}

#mobilitiet {
    width: 260px;
    padding: 26px 5px 26px 5px;
    background-color: #ffea54;
}

#ondernemen {
    padding: 26px;
    background-color: #88e8cf;
    margin-left: 35px;
}

#wonen {
    width: 220px;
    padding: 26px 5px 26px 5px;
    background-color: #00cac6;
}

#about {
    height: 600px;
    background-image: url('../_images/blueBck.png');
    background-size: 100% 100%;
    color: #FEFEFC;
    width: 80%;
    margin: 0 auto;
}

#info {
    display: flex;
}

.titles {
    margin-left: 250px;
    padding-top: 170px;
    width: 15%;
}

.aboutinfo {
    padding-top: 170px;
    margin-left: 60px;
    width: 55%;
    font-family: "Helvetica-Thin";
    font-size: 28px;
}