body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #10617F;
    color: #0f617e;
}

a {
    font-family: Helvetica, Arial, sans-serif;
    color: #0f617e;
}

header {
    background-color: white;
    height: 477px;
    padding: 50px 0 0 0;
    width: 95%;
    margin: 0 auto;
    margin-top: 0px;
}

.logo {
    margin-left: 80px;
    width: 6%
}

.headerlink {
    float: right;
    margin-right: 80px;
}

.top_header {
    display: block
}

.botton_header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 50px;
    font-weight: 700;
}

#col1 {
    margin-top: 98px;
    text-align: right;
}

#col2 {
    color: white;
    text-align: center;
}

#col3 {
    margin-top: 190px;
    margin-left: -120px;
}

#mobilitiet {
    width: 260px;
    padding: 26px 5px 26px 5px;
    background-color: #ffea54;
}

#ondernemen {
    padding: 26px;
    background-color: #88e8cf;
    margin-left: 35px;
}

#wonen {
    width: 220px;
    padding: 26px 5px 26px 5px;
    background-color: #00cac6;
}

#about {
    height: 600px;
    background-image: url('../_images/blueBck.png');
    background-size: 100% 100%;
    width: 95%;
    margin: 0 auto;
}